<div id="links">
    <button mat-button routerLink="/user/login">
        <mat-icon>login</mat-icon> Log in
    </button>
    <button mat-button routerLink="/user/register">
        <mat-icon>person_add</mat-icon> Register
    </button>
    <button mat-button routerLink="/course/allCourses">
        <mat-icon>library_books</mat-icon> All Courses
    </button>
    <button mat-button routerLink="/course/addCourse">
        <mat-icon>add_circle</mat-icon> Add Course
    </button>
    <button mat-button routerLink="/user/logout">
        <mat-icon>exit_to_app</mat-icon> Log out
    </button>
</div>

<router-outlet></router-outlet>