<form *ngIf="this.loginForm" [formGroup]="loginForm">
    <mat-form-field>
        <mat-label for="fullName">user name</mat-label>
        <input matInput type="text" placeholder="fullName" name="fullName" formControlName="fullName" />
    </mat-form-field>
    <ng-container *ngIf="this.loginForm.controls['fullName'].errors&&this.loginForm.controls['fullName'].touched">
        <div *ngIf="!loginForm.controls['fullName'].errors['required']&&!loginForm.controls['fullName'].errors['minLength']"
            style="color: red;">
            min length is 3 chars</div>
        <div *ngIf="loginForm.controls['fullName'].errors['required']" style="color: red;">this field
            is required</div>
    </ng-container>
    <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" placeholder="password" formControlName="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [disabled]="loginForm.controls['password'].errors"
            [attr.aria-label]="'הסתר סיסמה'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <ng-container *ngIf="this.loginForm.controls['password'].errors&&this.loginForm.controls['password'].touched">
        <div *ngIf="!loginForm.controls['password'].errors['required']&&!loginForm.controls['password'].errors['minLength']"
            style="color: red;">
            min length is 3 chars</div>
        <div *ngIf="loginForm.controls['password'].errors['required']" style="color: red;">this field
            is required</div>
    </ng-container>
    <button mat-fab extended type="submit" (click)="loginUser()"
        [disabled]="!loginForm.valid"><mat-icon>login</mat-icon>Save</button>
</form>



<!-- קלדנית ברמן -->
<!-- 03-6184499 -->